/* login.css */
.sidenav {
    background-color: #333;
    color: white;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .login-main-text h2 {
    font-size: 2rem;
    color: white;
    text-align: center;
  }
  
  .main {
    width: 100%; /* Asegura que ocupe todo el ancho disponible */
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 8px;
    max-width: 100%; /* Permite que se expanda al máximo */
    box-sizing: border-box; /* Evita que el padding afecte el ancho total */
  }
  
  .login-form {
    padding: 20px;
  }
  
  .btn-black {
    background-color: black;
    color: white;
    border: none;
  }
  
  .btn-black:hover {
    background-color: darkgray;
  }
  