/* login.css */
.sidenav {
    color: white;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .login-main-text h2 {
    font-size: 3rem;
    color: white;
    text-align: center;
  }

  .login-form p {
    font-size: 1.5rem;
    text-decoration: bold;
    text-align: center;
  }
  
  .main {
    width: 100%;
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 8px;
    max-width: 100%;
    box-sizing: border-box;
  }
  
  .login-form {
    padding: 20px;
  }
  
  .btn-black {
    background-color: black;
    color: white;
    border: none;
  }
  
  .btn-black:hover {
    background-color: darkgray;
  }
  